nav {
  display: flex;
  flex-grow: 0;
  align-items: flex-end;
  border-bottom: 1px #aaaaaa solid;
}

nav > button {
  background: #eeeeee;
  padding: .15em;
  border: 1px #aaaaaa solid;
  border-bottom: none;
  cursor: default;
}

nav > button.active {
  padding: .25em;
  background: #ffffff;
}

main {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

main > section {
  height: 100%;
  overflow-y: auto;
}

main > section:nth-child(1) {
  width: 30vw;
}

main > section:nth-child(2) {
  width: 70vw;
}

main > section:nth-child(2) h6 {
  margin: 0;
  margin-bottom: .5em;
  color: #666666;
}

main > section:nth-child(2) > .cpu-details {
  display: grid;
  grid-template-areas:
      "usage     frequency   frequency other"
      "processes threads     handles   other"
      "uptime    uptime      uptime    other";
}

.resource-title {
  display: flex;
  justify-content: space-between;
}